body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.container {
    width: 500px; /* Adjust as needed */
}

.results {
    width: 800px;
    align-items: center;
    position: relative;
    right:150px;    
}

